<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="nl.tue.tuego">

    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/appName"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name="nl.tue.tuego.LoadActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="nl.tue.tuego.RegisterActivity"/>
        <activity android:name="nl.tue.tuego.LoginActivity"/>
        <activity android:name="nl.tue.tuego.ForgotPasswordActivity"/>
        <activity android:name="nl.tue.tuego.ChangePasswordActivity"/>
        <activity android:name="nl.tue.tuego.InboxActivity"/>
        <activity android:name="nl.tue.tuego.InboxItemActivity"/>
        <activity android:name="nl.tue.tuego.LeaderboardActivity"/>
        <activity android:name="nl.tue.tuego.PostPictureActivity"/>
    </application>

</manifest>