<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="nl.tue.tuego">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />
    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@drawable/tuego"
        android:label="@string/appName"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="nl.tue.tuego.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity android:name="nl.tue.tuego.Activities.LoadActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="nl.tue.tuego.Activities.RegisterActivity"
            android:label="@string/registerTitle" />

        <activity
            android:name="nl.tue.tuego.Activities.LoginActivity"
            android:label="@string/loginTitle"
            android:parentActivityName="nl.tue.tuego.Activities.RegisterActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="nl.tue.tuego.Activities.RegisterActivity" />
        </activity>

        <activity
            android:name="nl.tue.tuego.Activities.ForgotPasswordActivity"
            android:label="@string/forgotPasswordTitle"
            android:parentActivityName="nl.tue.tuego.Activities.LoginActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="nl.tue.tuego.Activities.LoginActivity" />
        </activity>

        <activity
            android:name="nl.tue.tuego.Activities.ChangePasswordActivity"
            android:label="@string/changePasswordTitle"
            android:parentActivityName="nl.tue.tuego.Activities.ForgotPasswordActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="nl.tue.tuego.Activities.ForgotPasswordActivity" />
        </activity>

        <activity
            android:name="nl.tue.tuego.Activities.InboxActivity"
            android:label="@string/inboxTitle"
            android:parentActivityName="nl.tue.tuego.Activities.LoginActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="nl.tue.tuego.Activities.LoginActivity" />
        </activity>

        <activity
            android:name="nl.tue.tuego.Activities.InboxItemActivity"
            android:label="@string/inboxItemTitle"
            android:parentActivityName="nl.tue.tuego.Activities.InboxActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="nl.tue.tuego.Activities.InboxActivity" />
        </activity>

        <activity
            android:name="nl.tue.tuego.Activities.LeaderboardActivity"
            android:label="@string/leaderboardTitle"
            android:parentActivityName="nl.tue.tuego.Activities.InboxActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="nl.tue.tuego.Activities.InboxActivity" />
        </activity>

        <activity
            android:name="nl.tue.tuego.Activities.PostPictureActivity"
            android:label="@string/postPictureTitle"
            android:parentActivityName="nl.tue.tuego.Activities.InboxActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="nl.tue.tuego.Activities.InboxActivity" />
        </activity>
    </application>

</manifest>