<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="nl.tue.tuego">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />
    <application
        android:allowBackup="true"
        android:supportsRtl="true"
        android:label="@string/appName"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        android:icon="@drawable/tuego">

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="nl.tue.tuego.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths">
            </meta-data>
        </provider>

        <activity android:name=".LoadActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".RegisterActivity"
            android:label="@string/registerTitle" />

        <activity
            android:name=".LoginActivity"
            android:label="@string/loginTitle" />

        <activity
            android:name=".ForgotPasswordActivity"
            android:label="@string/forgotPasswordTitle" />

        <activity
            android:name=".ChangePasswordActivity"
            android:label="@string/changePasswordTitle" />

        <activity
            android:name=".InboxActivity"
            android:label="@string/inboxTitle" />

        <activity
            android:name=".InboxItemActivity"
            android:label="@string/inboxItemTitle" />

        <activity
            android:name=".LeaderboardActivity"
            android:label="@string/leaderboardTitle" />

        <activity
            android:name=".PostPictureActivity"
            android:label="@string/postPictureTitle" />

        <!-- ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information. -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
    </application>

</manifest>